@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(37, 37, 37);
}

body{
    overflow-x: hidden;
}

.bg-lightGreen {
    background-color: #f2ffe5;
}

.breadcrumb {
    color: #74a742;
    font-size: 1.2rem;
    font-weight: 500;
    border: 1px solid #989898;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
    text-transform: uppercase;
}

.breadcrumb p {
    color: #74a742;
}

.breadcrumb i {
    color: #989898;
}

.accordion-button {
    background-color: rgba(245, 245, 245, 0.356);
    color: #307a11;
    font-size: 1.2rem;
    font-weight: 500;
    border-bottom: 1px solid #989898;
    margin-bottom: 10px;
}

.accordion-button::after {
    content: "\ea6c";
    /* Unicode for the 'home' icon */
    font-family: "remixicon";
    font-size: 20px;
    margin-right: 8px;
    background-image: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
}

.accordion {
    --bs-accordion-border-color: transparent;
    --bs-accordion-border-radius: 0;
}

.accordion-button:not(.collapsed) {
    background-color: white;
}

.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed,
.accordion-item:first-of-type>.accordion-header .accordion-button.collapsed {
    border-radius: 0;
}

.gallery-card {
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
    border-radius: 20px;
}

.gallery-card:hover {
    box-shadow: 0 0 10px 0 #a1c134;
    border: 1px solid #a1c134;
    border-radius: 20px;
    scale: 0.95;
}

.gallery-card a {
    display: block;
    padding: 3px;
}

.gallery-card .col-4 img {
    max-width: 100%;
    height: 88px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.gallery-card .col-8 img {
    max-width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.product-item h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #307a11;
}

.podium {
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.podium-img {
    height: 200px;
    object-fit: contain;
    object-position: center;
}

.podium .image-1 {
    width: 100%;
    height: 70%;
    object-fit: contain;
    position: absolute;
    bottom: 130px;
    left: -10px;
    /* transform: translateX(-50%); */
    z-index: 1;

}

.podium .image-5 {
    width: 100%;
    height: 70%;
    object-fit: contain;
    position: absolute;
    bottom: 130px;
    left: 0px;
    /* transform: translateX(-50%); */
    z-index: 1;

}

.podium .image-3 {
    width: 100%;
    height: 45%;
    object-fit: contain;
    position: absolute;
    bottom: 60px;
    left: 32%;
    /* transform: translateX(-50%); */
    z-index: 1;

}

.podium .image-2 {
    width: 100%;
    height: 45%;
    object-fit: contain;
    position: absolute;
    bottom: 60px;
    left: 5%;
    /* transform: translateX(-50%); */
    z-index: 1;
}

.podium .image-4 {
    width: 100%;
    height: 45%;
    object-fit: contain;
    position: absolute;
    bottom: 60px;
    left: 20%;
    z-index: 1;

}

.product-item:hover .image-1,
.product-item:hover .image-2,
.product-item:hover .image-3,
.product-item:hover .image-4,
.product-item:hover .image-5 {
    animation: bounce 1s infinite;
    animation-delay: 0.5s;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }

}

.font-poppins {
    font-family: "Poppins", sans-serif;
}

.font-mont {
    font-family: "Montserrat", sans-serif;
}

.main-nav {
    background-color: #e9ffd3;
    border-radius: 30px 0 0 30px;
}

.hero {
    background: url(../images/banner.png) no-repeat top/cover;
    min-height: 100vh;
    width: 100%;
    padding-top: 120px;
}

@media(max-width: 768px) {
    .hero {
        background: url(../images/banner.png) no-repeat top/cover;
        min-height: 300px;
        width: 100%;
        padding-top: 50px;
    }
}

.brand-logo {
    width: 250px;
}

footer {
    background-color: #eaffd4;
    padding: 50px 0;
    color: rgb(37, 37, 37);
}

footer ul li a,
.footer-links-others a {
    text-decoration: none;
    color: rgb(37, 37, 37);
    margin-right: 10px;
    transition: all 0.5s;
}

footer ul li a:hover,
.footer-links-others a:hover {
    color: #a1c134;
    transform: translateX(5px);
    display: inline-block;
}

.social-links a {
    text-decoration: none;
    color: rgb(37, 37, 37);
    margin-right: 10px;
    font-size: 30px;
}

.social-links a:nth-child(4) {
    color: green;
}

.social-links a:nth-child(3) {
    color: red;
}

.social-links a:nth-child(2) {
    color: rgb(252, 123, 145);
}

.social-links a:nth-child(1) {
    color: #4267B2;
}

.social-links a:hover {
    scale: 1.1;
}

.divider {
    height: 4px;
    width: 100%;
    background-color: #b7b5b5;
    border-radius: 50%;
}

.blog-card {
    transition: 0.5s;
}

.blog-card-img {
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.blog-card-img::after {
    content: "";
    height: 70px;
    width: 110%;
    background: linear-gradient(rgba(255, 255, 255, 0.628), white);
    filter: blur(15px);
    position: absolute;
    top: 70%;
    left: -10px;
}

.collection-card {
    height: 300px;
    width: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.5s;
}

.collection-card p {
    color: white;
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    font-weight: 700;
    margin: 0;
}

.collection-card a,
.best-selling-products a:last-child,
.about-content h2 {
    text-decoration: none;
    background: linear-gradient(90deg, #a1c134, #325624);
    border: 1px solid white;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 15px 0;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #ff4d4d;
    transition: 0.3s;
}

.sub-nav li a,
.main-nav li a {
    text-decoration: none;
    color: black;
    margin-right: 35px;
    padding: 15px auto;
    position: relative;
}

.main-nav li a.active::after {
    content: "\ea4d";
    /* Unicode for ri-arrow-right-s-fill */
    font-family: "remixicon";
    /* Ensure Remix Icon font is loaded */
    font-size: 16px;
    /* Adjust as needed */
    color: #a1c134;
    position: absolute;

}

.main-nav li a.active{
    color: #a1c134;
    border-bottom: 2px solid #a1c134;
}


.many-more {
    background: #f9ffe4;
}

.many-more h2 {
    color: #325624;
}

.many-more p {
    color: #325624;
}

.product-card img {
    transition: 0.5s;
}

.product-card img:hover {
    scale: 1.1;
}

.main-nav li a:hover {
    color: #a1c134;
    border-bottom: 1px solid #a1c134;
}

.product-card p span {
    color: #a1c134;
    font-weight: 700;
}

.slogan {
    color: #a1c134;
}


.collection-card.collection-card-1 {
    background: linear-gradient(rgba(255, 255, 255, 0.377), rgba(10, 10, 10, 0.651)), url(../images/ddd7f34531.jpg);
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: center;
}

.collection-card.collection-card-2 {
    background: linear-gradient(rgba(255, 255, 255, 0.377), rgba(10, 10, 10, 0.651)), url(../images/19cb9ba695.jpg);
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: center;
}

.collection-card.collection-card-3 {
    background: linear-gradient(rgba(255, 255, 255, 0.377), rgba(10, 10, 10, 0.651)), url(../images/45175f3585.jpg);
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: center;
}

.collection-card.collection-card-4 {
    background: linear-gradient(rgba(255, 255, 255, 0.377), rgba(10, 10, 10, 0.651)), url(../images/888ad75236.jpg);
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: center;
}

.collection-card.collection-card-5 {
    background: linear-gradient(rgba(255, 255, 255, 0.377), rgba(10, 10, 10, 0.651)), url(../images/6a9b84b814.jpg);
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: center;
}

.collection-card.collection-card-6 {
    background: linear-gradient(rgba(255, 255, 255, 0.377), rgba(10, 10, 10, 0.651)), url(../images/freepik__enhance__26323.jpeg);
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: center;
}

.collection-card:hover {
    background-position: center;
    scale: 0.95;

}


.blog-card:hover {
    border: 1px solid whitesmoke;
    box-shadow: 0 0 10px 0 #a1c134;
    scale: 0.95;
}

.blog-card:hover .blog-card-img {
    scale: 0.95;
    overflow: hidden;
}

.blog-card img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.floating-wapp {
    position: absolute;
    top: -40px;
    right: 50px;
    text-decoration: none;
    font-size: 55px;

}

.floating-wapp i {
    color: #25d366;
}

.copyright span {
    color: orangered;
}

.hero img {
    width: 50%;
}

.product-details div {
    align-items: center;
    background: linear-gradient(to right, #d6ffd5, white);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
}

.product-details:nth-child(even) div {
    flex-direction: row-reverse;
    background: linear-gradient(to left, #d6ffd5, white);
    align-items: center;
}

@media(max-width: 1115px) {
    .main-nav {
        position: fixed;
        background-color: #a1c134;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100vh;
        left: -100%;
        transition: 0.5s;
        z-index: 1000;
        top: 0;
    }

    .main-nav.active {
        left: 0;
    }

    .close-btn button {
        border: none;
        background-color: transparent;
    }

}

@media(max-width: 768px) {
    .main-nav {
        width: 100%;
    }

    .product-details div {
        flex-direction: column;
    }

    .product-details:nth-child(even) div {
        flex-direction: column-reverse;
    }

    .brand-logo {
        width: 120px;
    }


    .hero {
        padding-top: 5px;
    }

}